includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	tmpDir: %currentWorkingDirectory%/var/tmp/PHPStan

	ignoreErrors:
		- '#^Parameter \#1 \$function of function call_user_func expects callable\(\): mixed, array\(string\|null, .+\) given.$#'
